{{ 'section-product-comparison.css' | asset_url | stylesheet_tag }}

<div id="section-{{ section.id }}" class="product-comparison"></div>

{% schema %}
{
  "name": "product comparison",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "heading"
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "text"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "product",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "title"
        },
        {
          "type": "product",
          "id": "product",
          "label": "choose product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "product comparison",
      "blocks": [
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
