{{ 'section-product-detail.css' | asset_url | stylesheet_tag }}

<div id="section-{{ section.id }}" class="product-detail"></div>

{% schema %}
{
  "name": "product detail",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "presets": [
    {
      "name": "product detail"
    }
  ]
}
{% endschema %}
