{{ 'section-product-recommend.css' | asset_url | stylesheet_tag }}

<div id="section-{{ section.id }}" class="product-recommend"></div>

{% schema %}
{
  "name": "product recommend",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "heading"
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "text"
    }
  ],
  "presets": [
    {
      "name": "product recommend"
    }
  ]
}
{% endschema %}
