{{ 'section-recipe-collection.css' | asset_url | stylesheet_tag }}

<div id="section-{{ section.id }}" class="recipe-collection"></div>

{% schema %}
{
  "name": "recipe collection",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "presets": [
    {
      "name": "recipe collection"
    }
  ]
}
{% endschema %}
