.announcement-bar__message {
  font-size: 3.2rem;
  color: #ebb069;
  padding: 1.6rem 0;
}

.utility-bar.gradient {
  background: #fcf4e2;
}
@media screen and (max-width: 1440px) {
  .announcement-bar__message {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 767px) {
  .announcement-bar__message {
    font-size: 2rem;
  }
}
