.buying-guide-richtext {
  max-width: 144rem;
  margin: 0 auto;
  padding: 6rem 0;

  /* font-family: Blinker; */
  font-size: 2rem;
  font-weight: normal;
  line-height: 150%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #767676;
}

.buying-guide-richtext .buying-guide-richtext-title {
  /* font-family: Blinker; */
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0em;
  font-variation-settings: "opsz" auto;
  color: #333333;
  text-align: center;
  margin-bottom: 3.4rem;
}

.buying-guide-richtext h4 {
  /* font-family: Blinker; */
  font-size: 3.2rem;
  font-weight: normal;
  line-height: 150%;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #333333;
  margin-top: 3.4rem;
}

.buying-guide-richtext .fontbold {
  font-weight: 600;
  color: #333333;
}

.buying-guide-richtext h2.fontbold {
  margin-top: 3.4rem;
  font-size: 4.8rem;
}

.buying-guide-richtext table {
  width: 100%;
}

.buying-guide-richtext table td {
  text-align: center;
}

.buying-guide-richtext table h2 {
  font-size: 3.2rem;
  color: #333333;
}