.announcement-bar__message {
  font-family: Poppins;
  font-size: 3.2rem;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0em;
  font-variation-settings: "opsz" auto;
  color: #ebb069;
  padding: 1.6rem 0;
}

.utility-bar.gradient {
  background: #fcf4e2;
}

@media screen and (max-width: 767px) {
  .announcement-bar__message {
    font-size: 2rem;
  }
}
