.home-banner-swiper {
  width: 100%;
  /* height: 64.81vh; */
  position: relative;
}

.home-banner-swiper_contain {
  width: 100%;
  height: 100%;
}

.home-banner-swiper_contain .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-banner-swiper_contain .home-banner-swiper_contain-body {
  width: 40vw;
  position: absolute;
}

.home-banner-swiper_contain .home-banner-swiper_contain-body.position_left {
  top: 11.11vh;
  left: 12.5vw;
}

.home-banner-swiper_contain .home-banner-swiper_contain-body.position_center {
  bottom: 7.69vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.home-banner-swiper_contain .home-banner-swiper_contain-body h3 {
  font-family: Blinker;
  font-size: 4.2rem;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0em;
  font-variation-settings: "opsz" auto;
  font-feature-settings: "kern" on;
  color: #FFFFFF;
  text-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.3);
}

.home-banner-swiper_contain .home-banner-swiper_contain-body h1 {
  font-family: Blinker;
  font-size: 5.2rem;
  font-weight: 600;
  line-height: 98%;
  letter-spacing: 0em;
  font-variation-settings: "opsz" auto;
  font-feature-settings: "kern" on;
  color: #FFFFFF;
  text-shadow: 0px 0.4rem 1rem rgba(0, 0, 0, 0.3);
  margin-top: 1.4rem;
}

.home-banner-swiper_contain .home-banner-swiper_contain-body a {
  display: block;
  min-width: 19.4rem;
  height: 4.6rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 41.6rem;
  background: #EBB069;
  font-family: Blinker;
  font-size: 1.8rem;
  font-weight: normal;
  letter-spacing: 0em;
  font-variation-settings: "opsz" auto;
  font-feature-settings: "kern" on;
  color: #FFFFFF;
  margin-top: 3.6rem;
}

@media screen and (max-width: 1600px) {
  .home-banner-swiper_contain .home-banner-swiper_contain-body {
    width: 45vw;
  }

  .home-banner-swiper_contain .home-banner-swiper_contain-body h3 {
    font-size: 3.2rem;
  }

  .home-banner-swiper_contain .home-banner-swiper_contain-body h1 {
    font-size: 4.2rem;
  }

  .home-banner-swiper_contain .home-banner-swiper_contain-body.position_left {
    top: 7.11vh;
  }
}

@media screen and (max-width: 1024px) {
  .home-banner-swiper_contain .home-banner-swiper_contain-body {
    width: 50vw;
  }
  .home-banner-swiper_contain .home-banner-swiper_contain-body.position_left {
    left: 5.5vw;
    top: 8.11vh;
  }
  .home-banner-swiper_contain .home-banner-swiper_contain-body h3 {
    font-size: 2.6rem;
  }
  .home-banner-swiper_contain .home-banner-swiper_contain-body h1 {
    font-size: 3.6rem;
  }
}

@media screen and (max-width: 767px) {
  .home-banner-swiper_contain .home-banner-swiper_contain-body {
    width: 90vw;
  }
  .home-banner-swiper_contain .home-banner-swiper_contain-body h3 {
    font-size: 1.8rem;
  }
  .home-banner-swiper_contain .home-banner-swiper_contain-body h1 {
    font-size: 2.8rem;
  }
  .home-banner-swiper {
    height: 64.81vh;
  }
  
}