.product-icontext {
  max-width: 144rem;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.product-icontext .product-icontext-heading {
  color: #333333;
  text-align: center;
}

.product-icontext .product-icontext-text {
  color: #767676;
  margin-top: 2.4rem;
}

.product-icontext .product-icontext-contain {
  display: flex;
  margin-top: 3.4rem;
  gap: 4.8rem;
  justify-content: space-between;
}

.product-icontext .product-icontext-box {
  color: #767676;
  text-align: center;
}

.product-icontext .product-icontext-box svg {
  width: 8rem;
  height: 8rem;
}

@media screen and (max-width: 767px) {
  .product-icontext .product-icontext-contain{
    flex-wrap: wrap;
  }

  .product-icontext .product-icontext-box{
    flex: 0 0 100%;
  }
}