.product-icontext {
  max-width: 144rem;
  margin: 0 auto;
  padding: 6rem 0;
}

.product-icontext .product-icontext-heading {
  /* font-family: Blinker; */
  font-size: 4.8rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0em;
  font-variation-settings: "opsz" auto;
  color: #333333;
  text-align: center;
}

.product-icontext .product-icontext-text {
  /* font-family: Blinker; */
  font-size: 2rem;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #767676;
  margin-top: 2.4rem;
}

.product-icontext .product-icontext-contain {
  display: flex;
  margin-top: 3.4rem;
  gap: 4.8rem;
  justify-content: space-between;
}

.product-icontext .product-icontext-box {
  /* font-family: Blinker; */
  font-size: 2rem;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #767676;
  text-align: center;
}

.product-icontext .product-icontext-box svg {
  width: 8rem;
  height: 8rem;
}

@media screen and (max-width: 767px) {
  .product-icontext .product-icontext-contain{
    flex-wrap: wrap;
  }

  .product-icontext .product-icontext-box{
    flex: 0 0 100%;
  }
}