.design-team {
  max-width: 144rem;
  margin: 0 auto;
  padding-bottom: 10rem;
}

.design-team .design-team-main {
  width: 100%;
  min-height: 55.6rem;
  display: flex;
  align-items: flex-start;
  gap: 6.6rem;
}

.design-team .design-team-main .design-team-left {
  flex: 1;
  display: flex;
  gap: 2.4rem;
}

.design-team .design-team-main .design-team-left img {
  width: calc((100% - 2.4rem) / 2);
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 0.8rem;
}

.design-team .design-team-main .design-team-right {
  width: 42.2rem;
}

.design-team .design-team-main .design-team-right .design-team-heading {
  /* font-family: Poppins; */
  font-size: 4.8rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0em;
  font-variation-settings: "opsz" auto;
  color: #333333;
}

.design-team .design-team-main .design-team-right .design-team-sec_heading {
  /* font-family: Poppins; */
  font-size: 3.2rem;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #333333;
  margin-top: 2rem;
}

.design-team .design-team-main .design-team-right .design-team-text {
  /* font-family: Poppins; */
  font-size: 2rem;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #333333;
  margin-top: 3.2rem;
}

.design-team .design-team-title {
  /* font-family: Poppins; */
  font-size: 6.2rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0em;
  font-variation-settings: "opsz" auto;
  color: #333333;
  margin-top: 10rem;
  text-align: center;
}

.design-team .design-team-description {
  /* font-family: Poppins; */
  font-size: 3.2rem;
  font-weight: normal;
  line-height: normal;
  text-align: center;
  letter-spacing: 0px;
  font-variation-settings: "opsz" auto;
  color: #333333;
  margin-top: 6rem;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .design-team .design-team-main {
    flex-wrap: wrap;
  }
  .design-team .design-team-main .design-team-right {
    width: 100%;
  }
}
